body{

}

p{

}

h3{

}

li{

}

#Header{
	border: solid 8px black;
	width: 500 px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10px;
	text-align: center;
}

#Header h1{

}

#LeftNav{
	width: 400 px;
	border: solid 8px black;
	float: left;
}

#LeftNav img

